extends _layout.pug

block vars
  - var pageTitle="A propos"

block content
  block contentAjax
    .column.small-12.large-6#target
      h1 A propos de nous.
      p Graf'hit est une radio membre de la 
        a(href="http://ferarock.org") Ferarock.
        br
        | Retrouvez-nous sur 
        a(href="https://www.facebook.com/Radio.Grafhit") Facebook.
      h2 Nous contacter
      p Téléphone :
        br
        | 03 44 23 46 75
        br
        | 03 44 23 49 08
      p Email :
        br
        | antenne (a) grafhit.net
      p SMS :
        br
        | 06 95 065 026
      p Adresse* :
        br
        | Graf'hit 
        br
        | BP 60319
        br
        | 60200 Compiègne
        br
        br
        | * Pour venir prendre l'escalier à partir du Parking de BF.
      p Site réalisé avec passion lors d'un projet étudiant avec :
        br
        | Emilie Confais
        br
        | Clément Henry
        br
        | Sylvain Doignon
    div.column.small-12.large-6
      #map
      script.
        // Clear the previous obj if any
        google = null;
        document.getElementById('map').style.height = (document.getElementById('target').clientHeight - 32) + "px";
        function initMap(){
          var position = {lat: 49.415679, lng: 2.818218};
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
            center: position,
            zoom: 14
          });
          var marker = new google.maps.Marker({
            position: position,
            map: map,
          });
         var infowindow = new google.maps.InfoWindow({
            content: "<b>" + "#{config.SITE.TITLE}"  + "</b>"
          });
         infowindow.open(map,marker);
        }
      script(src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=" + config.GMAPS_API_KEY)
