extends _layout.pug


block vars
  - var pageTitle="Grille des programmes"

block content
  block contentAjax
    h1 Grille des programmes
    #calendar
    script.
      // Call func if first page loaded and DOM ready
      document.addEventListener('DOMContentLoaded', displayTable);
      // Or now id JQuery is here
      if (window.jQuery) displayTable();
      function displayTable() {
          $('#calendar').fullCalendar({
            defaultView: "agendaWeek",
            lang: "fr",
            allDaySlot: false,
            scrollTime: "06:00:00",
            eventColor: "#777777",
            slotLabelFormat: "HH:mm",
            buttonText: { 
              today: "Aujourd'hui"
            },
            columnFormat: "dddd DD",
            displayEventTime: false,
            timezone: false,
            eventRender: function(event, element) {
              element.find('.fc-title').append("<br/>" + event.details); 
            },
            viewRender: function( view, element ) {
              var date = view.start.format('YYYY-w');
              $.ajax({
                method: "POST",
                url: "/get-programmation",
                dataType: "json",
                data : {
                  "action" : "forWeek",
                  "date" : date
                }
              }).done(function(progs) {
                for (prog of progs) {
                  var start = moment(prog.day + prog.hour, "YYYYMMDDHH:mm");
                  var end = moment(start).add(prog.duration, "minutes");
                  $("#calendar").fullCalendar( 'renderEvent', { 
                    "title": prog.name, 
                    "start" : start,
                    "end" : end,
                    "details": prog.details
                  })
                }
              });
            }
          })
        };

      
    
