extends _layout.pug


block vars
  - var pageTitle="Grille des programmes"

block content
  block contentAjax
    h1 Grille des programmes
    #calendar
    script.
      function domReady() {
        $('#calendar').fullCalendar({
          defaultView: "agendaWeek",
          lang: "fr",
          allDaySlot: false,
          contentHeight: "auto",
          eventColor: "#777777",
          slotLabelFormat: "HH:mm",
          buttonText: { 
            today: "Aujourd'hui"
          },
          columnFormat: "dddd",
          displayEventTime: false,
          timezone: false,
          eventRender: function(event, element) {
            element.find('.fc-title').append("<br/>" + event.details); 
          },
          viewRender: function( view, element ) {
            var weekNumber = view.start.format('w');
            $.ajax({
              method: "POST",
              url: "/get-programmation",
              dataType: "json",
              data : {
                "action" : "forWeek",
                "number" : weekNumber
              }
            }).done(function(progs) {
              for (prog of progs) {
                var start = moment(prog.day + prog.hour, "YYYYMMDDHH:mm");
                var end = moment(start).add(prog.duration, "minutes");
                $("#calendar").fullCalendar( 'renderEvent', { 
                  "title": prog.name, 
                  "start" : start,
                  "end" : end,
                  "details": prog.details
                })
              }
            });
          }
        })
      }

      
    
