extends _layout.pug

block vars
  - var pageTitle="Grille des programmes"

block content
  block contentAjax
    p Grille des programmes
    table
      thead
        tr
          td
          td lundi
          td mardi
          td mercredi
          td jeudi
          td vendredi
          td samedi
          td dimanche
      tbody
        - for(i=0; i<24; i++)
          tr
            td= func.twoDigitsNumber(i) + ":00"
            td 
            td 
            td 
            td 
            td 
            td 
            td 
