extends _layout.pug

block vars
  - var pageTitle="Accueil"

block content
  block contentAjax
    h1 À ré-écouter
    .media-object
      .media-object-section
        .thumbnail
          img(src="/img/logo.png")
      .media-object-section
        h4 You
        p Really 

    h1 Actualités
    .callout
      h5 Titre news
      p When using the data-closable attribute, you can optionally add Motion UI classes to the attribute to change the closing animation. If no class is added, the plugin defaults to jQuery's .fadeOut() function.
