extends _layout.pug

block vars
  - var pageTitle="Accueil"

block content
  block contentAjax
    h1 À ré-écouter
    .media-object
      .media-object-section
        .thumbnail
          img(src="/img/logo.png")
      .media-object-section
        h4 You
        p Really 
    if actus
      h1 Actualités
      each actu in actus
        .callout
          h5= actu.title
          p !{actu.content}
