#logo {
  display: block;
}

body {
  background: url("/img/bg.png") no-repeat;
}

section#content {
  background: rgba(255, 255, 255, 0.7);
  min-height: 100%; 
}

aside #intro {
  text-shadow: 1px 1px #fff;
}
