#logo {
  display: block;
}

body {
  background: url("/img/bg.png") no-repeat, url("/img/bg2.png") repeat;
}

section#content {
  background: rgba(255, 255, 255, 0.7);
  min-height: 100%; 
}

aside p, aside #nowPlaying {
  text-shadow: 1px 1px #fff;
}

aside #nowPlaying {
 margin-top: 1em;
}

aside #nowPlaying p {
 margin-bottom: 0;
}

aside #nowPlaying ul {
  list-style-type: none;
  line-height: 1.2;
  font-size: 14px;
}
